* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    margin: 2rem;
    text-align: center;
    font-size: 10rem;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}


h2 {
    margin: 5rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    -webkit-box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

body {
    background-image: url("../disney.jpeg");
    background-position: center;

}

button {
    width: 25rem;
    height: 15rem;
    margin: 3rem;
    border: 1px solid #e3f0f5;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

#game {
    display: none;
    flex-direction: column;
    align-items: center;
}

#home {
    text-align: center;
}

#playBtn {
    width: 8vw;
    height: 4vh;
}

main div {
    display: flex;
    justify-content: center;
}

#score {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
    font-style: oblique;
    color: #FFFFFF;
    font-size: 3rem;
}

p {
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

.answer {
    font-weight: bold;
}

#playAgain {
    width: 8vw;
    height: 4vh;
}

@media screen and (max-width: 887px) {
    #playAgain {
        width: 22vw;
    }
    #game div {
        text-align: center;
    }
}
